* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    background-image: url(/images/bull_home_page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    width: 100%;
    height: 100dvh;
    font-family: Orbitron;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: var(--nav-bar-color);
    padding: 0.5rem;
    gap: 0.5rem;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

h1 {
    font-size: 7.5rem;
    font-weight: bolder;
    padding: 0rem 0rem 2rem 0rem;
    text-shadow: 10px 5px 5px black;
}