button {
    font-size: 2rem;
    font-family: Orbitron;
    background-color: var(--button-background);
    padding: 0.5rem 0.75rem;
    border: 4px solid var(--text-color);
    border-radius: 20px;
    cursor: pointer;
}

svg {
    fill: var(--text-color);
    width: 2rem;
    height: 2rem;
}

button:hover {
    background-color: var(--button-background-hover);
}